/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

/* Colors */

:root {
    --clr-nutmeg: hsl(14, 45%, 36%);
    --clr-dark-raspberry: hsl(332, 51%, 32%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-rose-white: hsl(330, 100%, 98%);
    --clr-eggshell: hsl(30, 54%, 90%);
    --clr-light-grey: hsl(30, 18%, 87%);
    --clr-wenge-brown: hsl(30, 10%, 34%);
    --clr-dark-charcoal: hsl(24, 5%, 18%);
}

/* Styling */

body {
    background-color: var(--clr-eggshell);
}

.container {
    display: flex;
    height: 1800px;
    justify-content: center;
    align-items: center;
}

.component {
    background-color: var(--clr-white);
    width: 725px;
    border-radius: 25px;
    font-family: "Outfit", sans-serif;
    color: var(--clr-wenge-brown);
}

.component .image {
    padding: 40px 40px 0;
}

.component .text {
    padding: 0 40px 40px;
}

.component .image img {
    border-radius: 15px;
}

.header h1 {
    font-family: "Young Serif", serif;
    font-size: 2.5rem;
    margin: 20px 0;
    color: var(--clr-dark-charcoal);
}

.header p {
    margin-bottom: 30px;
}

ul,
ol {
    list-style-position: outside;
    padding-left: 20px;
}

li {
    padding-left: 20px;
}

span {
    font-weight: 700;
}

.prep-time {
    background-color: var(--clr-rose-white);
    padding: 15px 25px;
    border-radius: 15px;
    line-height: 2;
}

.prep-time h2 {
    color: var(--clr-dark-raspberry);
    font-weight: 600;
    font-size: 1.3rem;
}

.prep-time li::marker {
    color: var(--clr-dark-raspberry);
}

.ingredients,
.instructions {
    padding: 20px 0;
    border-bottom: 1px solid var(--clr-light-grey);
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
    color: var(--clr-nutmeg);
    font-family: "Young Serif", serif;
    font-size: 1.8rem;
    padding-bottom: 10px;
}

.ingredients li,
.instructions li {
    padding-bottom: 10px;
}

.ingredients li::marker,
.instructions li::marker {
    color: var(--clr-nutmeg);
    font-weight: 700;
}

.nutrition {
    padding-top: 20px;
}

.nutrition p {
    padding-bottom: 10px;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid var(--clr-light-grey);
    text-align: left;
    padding: 15px 30px;
}

th.last-row,
td.last-row {
    border-bottom: none;
}

td {
    color: var(--clr-nutmeg);
    font-weight: 700;
}

/* Mobile view */

@media screen and (max-width: 750px) {
    body {
        background-color: var(--clr-white);
    }
    
    .component {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .component .image {
        padding: 0;
    }

    .component .image img {
        border-radius: 0;
    }

    .header h1 {
        font-size: 2.2rem;
        line-height: 1;
        padding-top: 15px;
    }
}